<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/simple-sidebar.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper" >
           <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <a href="index.html">
                          Wacomo
                      </a>
                  </li>
                  <% for (var i = 0; i < devices.length; i++) { %>
                  <li>
                      <a href="/<%- devices[i].name %>"><%- devices[i].name%></a>
                  </li>
            
                  <% } %>
              </ul>
          </div>


          <div id="main">
          
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <nav class="navbar navbar-blue navbar-static-top" role="navigation">
              <a class="navbar-brand" onclick="openNav()" id="menu-toggle" href="#menu-toggle"><span></span> </a>
            </nav>