<% include ../partials/header %>
<div id="page-content-wrapper">
    <div class="container-fluid">
        <a class="card card-red" href="bathroom.html">
            <img alt="" height="150" src="images/bathroom.png">
                <span>
                    Bathroom
                </span>
            </img>
        </a>
        <a class="card card-yellow" href="kitchen.html">
            <img alt="" height="150" src="images/kitchen.png">
                <span>
                    Kitchen
                </span>
            </img>
        </a>
        <a class="card card-green" href="washroom.html">
            <img alt="" height="150" src="images/washing.png">
                <span>
                    Washing Room
                </span>
            </img>
        </a>
    </div>
</div>
<!-- /#page-content-wrapper -->
<% include ../partials/footer %>
